{% load staticfiles %}
<html lang="en">
<head>
    <title>{% block head_title %}"BLOG APPLICATION BY SHREYEE"{%endblock head_title%}</title>
    <!-- Latest compiled and minified CSS -->

    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">

    <!-- Optional theme -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap-theme.min.css" integrity="sha384-rHyoN1iRsVXV4nD0JutlnGaslCJuC7uwjduW9SVrLvRYooPp2bWYgmgJQIXwl/Sp" crossorigin="anonymous">


    <link rel="stylesheet" href='{% static "/css/base.css" %}'/>
    <style>
        {% block style %}{% endblock style %}
    </style>
</head>
<body>


    <nav class="navbar navbar-inverse">
        <div class="container-fluid">
          <div class="navbar-header">
            <a class="navbar-brand" <h1>HealthCare Blog</h1></a>
          </div>
          <ul class="nav navbar-nav">
            <li class="active"><a href="http://127.0.0.1:8000/blog1/">Home</a></li>
            <!li><!a href="contact.html">Contact Us<--/a><--/li>
          </ul>
        </div>
      </nav>


{% include "messages_display.html" %}
<div class="container">
   {% block content %} {% endblock content%}
</div>

<img src="{% static "img/beach.jpg" %}"

<!-- Latest compiled and minified JavaScript -->
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>
</body>


<footer class="footer" style="
      background-color:crimson;
      color: white;
      flex: 0 0 100px;/*or just height:80px;*/
      margin-top: auto;">
      <div class="footer-copyright">© Copyright 2020- Made by Shreyee
      </div>
  </footer>
</html>



